@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000; /* Black background for light mode */
  --foreground: #ffffff; /* White text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000; /* Black background for dark mode */
    --foreground: #ededed; /* Slightly lighter text for dark mode */
  }
}

body {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--background); /* Black background */
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  min-height: 100vh;
  min-height: -webkit-fill-available;
}


a {
  color: var(--foreground);
  text-decoration: none;
}

a:hover {
  color: #0077ff; /* Add hover effect */
}

button {
  border: none;
  cursor: pointer;
}

